@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
	font-family:sans-serif;
    background: url("/static/images/s7.jpg");
    animation-name: myfirst;
    animation-duration: 12s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
h2{
	float:left;
	color:black;
	font-size:40px;
	
}
.form #checkbox-inline label{
	
	color:white;
	font-size:20px;
	text-shadow: 5px 5px 5px #87CEEB;
}


.form {
    background: rgba(255, 255, 255, 1);
    width: 650px;
    margin: 120px auto;
}

/*阴影*/

input[type=submit]{
 			width: 130px;
 			height: 60px;
 			
 		}
