<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Travel Planner</title>
    <script src="/static/jquery/jquery-3.2.1.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link
            href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
            rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/fc95cba7ed.js"
            crossorigin="anonymous"
    ></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
            <a class="brand" herf="#">
                <img width="150" height="50" src="../static/images/logo.jpg"  alt="Travel Logo"/>
            </a>
        </div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="#About us"><span class="glyphicon glyphicon-qrcode"></span> About us</a></li>
				<li><a href="#Connect us"><span class="glyphicon glyphicon-earphone"></span> Connect us </a></li>
			</ul>
            <form class="navbar-form navbar-right" role="search">
                <button type="Log in" class="btn btn-default">LOG IN</button>
                <button type="Register" class="btn btn-default">REGISTER</button>
            </form>
		</div><!-- /.nav-collapse -->

	</div><!-- /.container -->
</div>
<div class="container">
    <form action="/result" method="post">
        <div class="form">
            <h2 class="col-md-offset-2">Travel Itinerary Planner</h2>

            <input
                    class="col-md-offset-2"
                    type="text"
                    name="startplace"
                    placeholder="startplace"
                    id="datetimepicker"
                    style="width:28%"
            />
            <i class="fas fa-plane"></i>
            <input
                    type="text"
                    name="endplace"
                    placeholder="endplace"
                    style="width:28%"
            />
            <label>Travellers</label>
            <select name="travellers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <label style="margin-left: 11rem;margin-top: 2rem;">Cabin</label>
            <select name="cabin" style="width:25%">
                <option value="ECONOMY">economy</option>
                <option value="PREMIUM_ECONOMY">premium economy</option>
            </select>
            <h3 class="col-md-offset-2">Date</h3>
            <div
                    class="input-group date col-md-offset-2"
                    id="datetimepicker1"
                    style="width:50%"
            >
                <input
                        type="text"
                        class="form-control"
                        placeholder="start"
                        name="startday"

                />
                <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            </div>
            <br/>
            <div
                    class="input-group date col-md-offset-2"
                    id="datetimepicker2"
                    style="width:50%"
            >
                <input
                        type="text"
                        class="form-control"
                        placeholder="end"
                        name="endday"
                />
                <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            </div>
            <h3 class="col-md-offset-2">Activity Preference</h3>
            <div>
                <label class="checkbox-inline col-md-offset-2 ">
                    <input type="checkbox" value="art_gallery" name="art_gallery"/> Art Gallery
                </label>
                <br/>
                <label class="checkbox-inline col-md-offset-2">
                    <input type="checkbox" value="amusement_park" name="amusement_park"/>
                    Amusement Park
                </label>
                <br/>
                <label class="checkbox-inline col-md-offset-2">
                    <input type="checkbox" value="tourist_attraction" name="tourist_attraction"/>
                    Tourist Attraction
                </label>
                <br/>

                <label class="checkbox-inline col-md-offset-2">
                    <input type="checkbox" value="aquarium" name="aquarium"/>
                    Aquarium
                </label>
                <br/>
                <label class="checkbox-inline col-md-offset-2">
                    <input type="checkbox" value="shopping_mall" name="shopping_mall"/>
                    Shopping
                </label>
                <br/>
                <label class="checkbox-inline col-md-offset-2">
                    <input type="checkbox" value="zoo" name="zoo"/>
                    Zoo
                </label>
                <br/>
                <label class="checkbox-inline col-md-offset-2">
                    <input type="checkbox" value="museum" name="museum"/>
                    Museum
                </label>
            </div>
            <br/>
            <input
                    class="col-md-offset-5 btn btn-success"
                    type="submit"
                    value="Search for Plan"
            />
            <br/><br/><br/>
        </div>
    </form>
</div>
<footer class="panel-footer" >
    <div class="container">
        <div class="row footer-top"></div>
        <hr>
        <div class="row ">
            <div class="col-sm-4 col-md-4 col-lg-4" style="align-content: center">
                <h4>Address</h4>
                <p>Location:1234 block,Sheffield,United Kingdom</p>
                <p>Phone:+44 12345678</p>
                <p>Email:236@gmail.com</p>
                <p>Fax:+44 12345678</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>Travel places</h4>
                <div class="row" style="align-content: center">
                    <ul class="col-6 links" style="width: 150px">
                        <li><a href="#" >New Zealand</a></li>
                        <li><a href="#">Austria</a></li>
                        <li><a href="#">France</a></li>
                        <li><a href="#">South Koera</a></li>
                        <li><a href="#">China</a></li>
                        <li><a href="#">Japan</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" style="align-content: center">
                <h4>Newsletter</h4>
                <div class="footer-text">
                    <p>By subscribing to our mailing list you will alway get lateset news and updates from us
                    </p>
                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Enter you email..." required>
                        <button class="btn1">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>


<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD ',
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD ',
            {#hh:mm#}
        });
    });
</script>

<script>
     $(function () {$('#myCarousel').carousel({
         interval: 2000,
     })
         $("#myCarousel li").click(function () {
             var index=$(this).attr("data-slide-to")
            $('#myCarousel').carousel(parseInt(index))
         })
     })
</script>
</html>
