{% extends "head.html" %}

{% block needFile %}
    <form class="col-md-5 col-md-offset-3">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control"
                       placeholder="Username" value="{{ request.args.username }}">
            </div>
        </div>
        <br><br><br>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name=" password" class="form-control"
                       placeholder="Password" value="{{ request.args.password }}">
            </div>
        </div>
        <br><br><br>
        <div class="form-group">
            <div class="col-sm-offset-6 ">
                <button type="submit" class="btn btn-success">login</button>
            </div>
        </div>
    </form>
{% endblock %}