<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form>
    destination:<input type="text" value=" {{ destination }}">
    <br>
    Airline:<input type="text" value="{{ startplace }}">-->
    <input type="text" value="{{ endplace }}">
    <br>
    Travellers:<input type="text" value="{{ travellers }}">

    <br>
    Date: <input type="text" value="{{ startday }}">--->
    <input type="text" value={{ endday }}>--->
    <br>Interest<input type="text" value="  {{ interest }}">


</form>

</body>
</html>